@import url("../../../App.css");

.button {
  padding: 10px 15px;
  border-radius: 113px;
  background-color: #ba4270;
  color: #fff;
  font-family: var(--font-text);
  font-size: 1.1vw;
}
@media screen and (max-width: 750px) {
  .button {
    font-size: 10px;
    padding: 0;
  }
}