@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Varela+Round&family=Zen+Antique+Soft&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-heading: 'Zen Antique Soft', serif;
  --font-text: 'Merriweather Sans', sans-serif;
  --font-text1: 'Bebas Neue', cursive;
  --font-text2: 'Varela Round', sans-serif;
  --shadow: 2px ​5px 20px rgba(0 0 0 / 0.3);
  --color-heading: #36536b;
  --color-backgroundCircle: #749bbb98;
  --padding-xy: 10vw;
  --margin: 10vw;
}

body{
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
}
.App{
  overflow-x: hidden;
}
button, input{
  background-color: #fff;
  outline: none;
  display: block;
  border-color: transparent;
}
.backgroundCircle{
  width: 900px;
  height: 900px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-backgroundCircle);
  border-radius: 50%;
  z-index: -1;
}
@media screen and (max-width: 1000px) {
  :root{
    --padding-xy: 7vw;
  }
}